<nav class="navigation">
    <a href="/" class="logo">Eduardo Uribe</a>

    <ul class="links">
        <!-- <li>
            <a href="/about/" class="links-link {{'active-link' if '/about' in page.url}}">About</a>
        </li> -->
        <li>
            <a href="/contact/" class="links-link {{'active-link' if '/contact' in page.url}}">Resume</a>
        </li>
        <li>
            <a href="/journal/" class="links-link {{'active-link' if '/journal' in page.url}}">Journal</a>
        </li>
    </ul>
</nav>